body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.form {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 18px;
    color: #333;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.input:required:invalid {
    background-color: #dcdcdc; /* Dark gray */
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

.submit-button {
    padding: 15px 25px;
    background-color: #a3b899;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

.submit-button:hover {
    background-color: #555;
}